<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorial02">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchei"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchei_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorial02">
        <activity android:name=".tu2"
            android:label="about"></activity>
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>